docs/SPR_XML_Documentation/08c SPR EZINV4 XML.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) by EDI (SP Richards) -->
<!-- SPR EZINV4 XML Schema -->
<!-- Version 1.3 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EzInv4">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FileHeader">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EdiCustNum">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UserId">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OptionName">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RequestedBu">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RequestedDc">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ValType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BeginVal">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="EndVal">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SubAccnts">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="CustGroup">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="5"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ZeroAmt">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="StripSpecial">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DocTypes">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Im1Recs">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UomConv">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Password">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IncludeTo">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IncludeFrom">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="InvCount" type="xs:string"/>
							<xs:element name="CreditCount" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Invoice" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InvHeader">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="InvCustNum">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="15"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SprInvNum">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="14"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InvDate">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InvDCNum">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Currency">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BusinessUnit">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SOHeader" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SoCustNum">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="15"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SprSoNum">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="14"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SoDate">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="10"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="SoDcNum">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DealerPo">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DealerRoute">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="OrderType">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ShipMethod">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="LevelOfServ">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PlacedBy">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="35"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DealerRefNo">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DealerAttn">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="25"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ShipCode">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ShipInst">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ShipVia">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MarketSoNum">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Cmmnts1" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Cmmnts2" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="30"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DealerField1" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DealerField2" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DealerField3" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DealerField4" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="DealerOrder" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="20"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ShipTo">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ShipToName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShipToAddr1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LabelCmmnts1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShipToAddr2">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShipToAddr3">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LabelCmmnts2">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShipToCity">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShipToState">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShipToZip">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="11"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShipToCntry">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Residential">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LabelCmmnts3">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="25"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ShipFrom">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ShipFromName">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShipFromAddr1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShipFromAddr2">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShipFromAddr3">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShipFromCity">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShipFromState">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShipFromZip">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="11"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShipFromCntry">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ItemDetail" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="LineNum">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="4"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ItemNum">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LineType">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="UnitOfMeasure">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="QtyOrdered">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="6"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="QtyShipped">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="6"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="QtyBackordered">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="6"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ExtendedAmt">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ItemDesc">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="35"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ItemRequest">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LineRef1">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="12"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="LineRef2">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="12"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="RetailPrice">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="9"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="RetailUom">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="DealerUom">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="UomConvFact">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="9"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="SeqNum">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="4"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Discountable">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="ItemAdjust" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="LineNum">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="4"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MiscItemCode">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MiscItemDesc">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="30"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MiscItemAmt">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ChrgDisc">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Manifest" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SprRoute">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="3"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="StopCode">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="2"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="CartonId">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="TrackNum">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="MarketSoNum">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="20"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="SOTotal">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="OrdTot01">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="OrdTot02">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="OrdTot03">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="9"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="OrdTot04">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="OrdTot05">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="OrdTot06">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="9"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="OrdTot07">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="9"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="OrdTot08">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="9"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="OrdTot09">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="9"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="OrdTot10">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="10"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="InvTotal">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="InvTot01">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InvTot02">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InvTot03">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InvTot04">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InvTot05">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InvTot06">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InvTot07">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InvTot08">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InvTot09">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="InvTot10">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CrMemo" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Header">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CrCustNum">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="15"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SprCrNum">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="14"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SprRaNum">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="14"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CrMemoDate">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CrDcNum">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DealerPo">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CrStat">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SprInvNum ">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="14"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SprSoNum ">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="14"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ApprovedBy ">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BusinessUnit">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Currency">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DealerOrder">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Remarks1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Remarks2">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Remarks3">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Remarks4">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="30"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MarketSoNum">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Detail" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CrLineNum">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ItemNum">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SprUom">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="QtyCredited">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ExtendedAmt">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Discountable">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SprInvNum">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="14"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SprSoNum">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="14"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CrRsnCode">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ItemDesc">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LineRef1">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="12"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LineRef2">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="12"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RaLineNum">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MarketSoNum">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="20"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Total">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CrTot01">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CrTot02">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CrTot03">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CrTot04">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CrTot05">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CrTot06">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CrTot07">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CrTot08">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CrTot09">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="9"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="CrTot10">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="10"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
