src/Vendorea.PartnerConnect.Infrastructure/Schemas/SPR/EZPOACK.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  SPR EZPOACK (Purchase Order Acknowledgment) Schema — NON-AUTHORITATIVE PLACEHOLDER

  IMPORTANT: This schema is NOT used to validate inbound POACKs.
  ============================================================
  Per SPR, there is no standalone EZPOACK XSD: a POACK is the original order echoed
  back as an <Order> document (same shape as the EZPO4 PO) with acknowledgment data in
  the Extn extensions (EXTNSprOrderLine/@AckStatus, EXTNSprOrderHeader/@PoAckStatus) and
  a <Shipments> block — including response-only fields a PO schema does not define.

  Because of that, and because ERROR acks may not conform to any success shape,
  inbound POACKs are parsed LENIENTLY by SprPoackParser and are intentionally NOT run
  through strict XSD validation. This file is retained only as a structural reference
  for the legacy synthetic test fixtures; do not treat it as the SPR contract.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element - matches SprPoackParser expected structure -->
  <xs:element name="OrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OrderNo" type="xs:string"/>
        <xs:element name="SellerOrderNo" type="xs:string" minOccurs="0"/>
        <xs:element name="AckDate" type="xs:string" minOccurs="0"/>
        <xs:element name="OrderStatus" type="xs:string" minOccurs="0"/>
        <xs:element name="ExpectedShipDate" type="xs:string" minOccurs="0"/>
        <xs:element ref="OrderLine" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="OrderLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ItemID" type="xs:string"/>
        <xs:element name="OrderedQty" type="xs:decimal" minOccurs="0"/>
        <xs:element name="AcknowledgedQty" type="xs:decimal" minOccurs="0"/>
        <xs:element name="BackorderedQty" type="xs:decimal" minOccurs="0"/>
        <xs:element name="Status" type="xs:string" minOccurs="0"/>
        <xs:element name="ExpectedShipDate" type="xs:string" minOccurs="0"/>
        <xs:element name="Notes" type="xs:string" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
